---
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Slides | matsub</title>
        <link rel="stylesheet" href="//www.matsub.net/assets/css/fancy.css">
        <link rel="stylesheet" href="//www.matsub.net/assets/css/layout.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">
    </head>
    <body>
        <header>
            <h1>Slides</h1>
        </header>
        <section id="slides">
            {% for slide in site.posts %}
            {% assign splitted_path = slide.url | split: '/' %}
            <a target="_blank" href="{{ site.baseurl }}{{ slide.url }}">
            <figure>
                <img alt="{{ slide.title }}" src="{{ site.baseurl }}/assets/images/thumbnails/{{ splitted_path.last | append: '.png' }}">
                <figcaption>{{ slide.title }}</figcaption>
            </figure>
            </a>
            {% endfor %}
        </section>
        {% include footer.html %}
    </body>
</html>
