<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | matsub/slides</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="matsub.rk">

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/lib/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/lib/reveal.js/css/theme/{{ page.theme }}.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/lib/reveal.js/lib/css/zenburn.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slide.css">

        <!-- setting for pdf print -->
        <script>
const link = document.createElement('link');
link.setAttribute('rel', 'stylesheet');

if (window.location.search.match( /print-pdf/gi )) {
    link.setAttribute('href', '{{ site.baseurl }}/assets/lib/reveal.js/css/print/pdf.css');
} else {
    link.setAttribute('href', '{{ site.baseurl }}/assets/lib/reveal.js/css/print/paper.css');
}

document.querySelector('head').appendChild( link );
        </script>
        <!-- /setting for pdf print -->
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-markdown
                         data-separator="^\n\n\n"
                         data-separator-vertical="^\n\n"
                         data-separator-notes="^Note:">
                    <script type="text/template">
{{ content | raw }}
                    </script>
                </section>
            </div>
        </div>

        <script src="{{ site.baseurl }}/assets/lib/reveal.js/lib/js/head.min.js"></script>
        <script src="{{ site.baseurl }}/assets/lib/reveal.js/js/reveal.js"></script>
        <script>
Reveal.initialize({
    controls: true,
    progress: true,
    history: true,

    transition: 'slide', // none/fade/slide/convex/concave/zoom

    width: "100%",
    height: "100%",
    margin: 0,

    showNotes: false,
    slideNumber: true,
    overview: true,

    // Optional reveal.js plugins
    dependencies: [
        { src: '{{ site.baseurl }}/assets/lib/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: '{{ site.baseurl }}/assets/lib/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: '{{ site.baseurl }}/assets/lib/reveal.js/plugin/notes/notes.js', async: true },
        { src: '{{ site.baseurl }}/assets/lib/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

        {% for dependency in page.dependencies %}
            { src: '{{ site.baseurl }}/assets/lib/reveal.js/plugin/{{ dependency }}', async: true, },
        {% endfor %}
    ]
});
        </script>
    </body>
</html>
